<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap"
    rel="stylesheet"
    />
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    {{!-- how do we do our stylesheets in handlebars? We just link them in their respective .hbs--}}
    <title>Movie Box</title>
  </head>
  <body>
    <header id="header">
      <nav class="navbar navbar-expand-lg navbar-light" id="navId">
        <a class="navbar-brand" id="movieBox" href="/movies">[MovieBox]</a>
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav">

            <li class="nav-item nav-text" id="dashboard">
              <a class="nav-link" href="/dashboard">My Dashboard</a>
            </li>
            <li class="nav-item nav-text" id="movies">
              <a class="nav-link" href="/movies">Movies</a>
            </li>
            {{#if loggedIn}}
            <li class="nav-item nav-text" id="logout">
              <a class="nav-link" href="#">Log Out</a>
            </li>
            {{else}}
            <li class="nav-item nav-text" id="login">
              <a class="nav-link" href="#">Log In</a>
            </li>
          {{/if}}
          </ul>
        </div>
      </nav>
    </header>
    {{{body}}}
    <footer>
      <div class="container row col-3" id="footer-create">
        <h3>Created By </br>
          The Movie Box Team!</h3>
      </div>
      <div class="container creators" id='ben'>
        <h4>Ben Gallagher</h4>
        <h5>Team Lead: Node, Javascript, Express, MySQL, Html, CSS</h5>
        <h5>GitHub: <a href="https://github.com/Bgallag5">Bgallag5</a></h5>
        <h5>Email: <a href="mailto:bgallag5@gmail.com">bgallag5@gmail.com</a></h5>
      </div>
      <div class="container creators" id="ani">
        <h4>Ani Carr</h4>
        <h5>Back-End Lead: Express, Node, MySQL, Javascript</h5>
        <h5>GitHub: <a href="https://github.com/anidino">anidino</a></h5>
        <h5>Email: <a href="mailto:ani.elaina.carr@gmail.com">ani.elaina.carr@gmail.com</a></h5>
      </div>
      <div class="container creators" id="raevin">
        <h4>Raevin Dunson</h4>
        <h5>Front-End: Html, CSS, Javascript</h5>
        <h5>GitHub: <a href="https://github.com/raevindunson">raevindunson</a></h5>
        <h5>Email: <a href="mailto:raevin.dunson98@gmail.com">raevin.dunson98@gmail.com</a></h5>
      </div>
    </footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </body>

</html>