 
 <link rel="stylesheet" href="/css/dashboard.css"/>  


    <section id='dash-favs'>
      {{#if user}}
      <h4>{{user}}'s Favorites</h4>
      {{/if}}      
          <div class="row container movrow">
                 {{#each posts}}
    <img src='https://image.tmdb.org/t/p/w500{{poster_path}}' class ="movies" id="{{id}}">
      {{/each}}
            </div>
     
    </section>

   

    <section id="dash-reviews">
      {{#if user}}
      <h4>{{user}}'s Reviews</h4>
      {{/if}} 
      <div class="row">
        <div class="card col-md-3" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Movie title</h5>
            <p class="card-text">Review text</p>
            <a href="#" class="btn btn-primary">See Review</a>
          </div>
        </div>
        <div class="card col-md-3" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Movie title</h5>
            <p class="card-text">Review text</p>
            <a href="#" class="btn btn-primary">See Review</a>
          </div>
        </div>
        <div class="card col-md-3" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Movie title</h5>
            <p class="card-text">Review text</p>
            <a href="#" class="btn btn-primary">See Review</a>
          </div>
        </div>
      </div>
    </section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
<script src="/javascript/dashboard.js"></script>

