
    <section id='dash-favs'>
      <h4>My Favorites</h4>
            
          <div class="row container movrow">
                 {{#each posts}}
    <img src='https://image.tmdb.org/t/p/w500{{poster_path}}' class ="movies">
    {{/each}}
            </div>
     
    </section>

   

    <section id="dash-reviews">
      <h4>
        My Reviews
      </h4>
      <div class="row">
        <div class="card col-md-3" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Movie title</h5>
            <p class="card-text">Review text</p>
            <a href="#" class="btn btn-primary">See Review</a>
          </div>
        </div>
        <div class="card col-md-3" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Movie title</h5>
            <p class="card-text">Review text</p>
            <a href="#" class="btn btn-primary">See Review</a>
          </div>
        </div>
        <div class="card col-md-3" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Movie title</h5>
            <p class="card-text">Review text</p>
            <a href="#" class="btn btn-primary">See Review</a>
          </div>
        </div>
      </div>
    </section>
