     <link rel="stylesheet" href="/css/edit-review.css"/>  
    
    <section id="dash-reviews">

      <h4>Edit Your Review!</h4>

      <div id="rev-section">
        {{#if review}}
        <div class="card review-card" id="rev-card">
          <div class="card-body">
            <h5 class="card-title" ><textarea id="title">{{review.title}}</textarea></h5>
            <textarea id="review-text" rows="3" class="form-control">{{review.post_content}}</textarea>
          </div>
        <button class="button btn edit" name="{{review.id}}" id="submit">Submit</button>
        </div>
        {{/if}}
      </div>
    </section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>    
<script src="/javascript/edit-review.js"></script>