    <link rel="stylesheet" href="/css/index.css"/>  


    <section id= 'search-filter' >
      <div class="input-group">
          <input type="search" class="form-control rounded" id="inputId" placeholder="Search" aria-label="Search" 
            aria-describedby="search-addon" />
          <button class="btn buttons"  action="/search" id="buttonId">Search</button>
        </div>

        <div class="dropdown filter">
          <label class="sortbtn buttons">Sort By Genre</label>
          <select class="dropdown-content" id='dropdown'>
            <option href="#">Action</option>
            <option href="#">Family</option>
            <option href="#">Horror</option>
            <option href="#">Adventure</option>
            <option href="#">Comedy</option>
            <option href="#">Thriller</option>
            <option href="#">Drama</option>
          </select>
        </div>

        <div>
          <button class="btn" id="bestBtn">Filter Best</button>
        </div>

    </section>

<section id='movies-section'>
<button onclick="topFunction()" id="topBtn" title="Go to top">back to top</button>

<div class="row container movrow">
    {{#each movies}}
    <img src='https://image.tmdb.org/t/p/w500{{poster_path}}' class ="movies">
    {{/each}}
    {{!-- add href here to be clickable through to single-view --}}
</div>
</section>


<script src="/javascript/index.js"></script>
