    <link rel="stylesheet" href="/css/login.css"/> 

    
    <h1>
      Welcome to Movie Box!
    </h1>

    <form id="login-form">
      <h2>
        Log In
      </h2>
      <div class="form-group row">
        <label for="inputUsername" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="email-input" placeholder="email@gmail.com">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password-input" placeholder="password">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <a href="" id="login-button" type="submit" class="btn btn-primary">Log in</a>
        </div>
      </div>
      <p id="new">New User? Sign Up Here</p>
    </form>

    <section id="login-info">
      <p>Sign up or log in to access our full database of movies. Save your favorites, leave ratings, and view your watchlist!</p>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/javascript/login.js" ></script>