    <link rel="stylesheet" href="/css/login.css"/> 

    
    <h1>
      Welcome to Movie Box!
    </h1>

    <form id="login-form">
      <h2>
        Log In
      </h2>
      <div class="form-group row">
        <label for="inputUsername" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="email-input" placeholder="email@gmail.com">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password-input" placeholder="password">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <a href="" id="login-button" type="submit" class="btn btn-primary">Log in</a>
        </div>
      </div>
    </form>

    <section id="login-info">
      <p>Sign up or log in to access our full database of movies. Save your favorites, leave ratings, and view your watchlist!</p>
    </section>

        <footer>
      <div class="container" id="footer-create">
        <h3>Created By The Movie Box Team!</h3>
      </div>
      <div class="container" id='ben'>
        <h4>Ben Gallagher</h4>
        <h5>Team Leader</h5>
        <h5>GitHub: <a href="https://github.com/Bgallag5">Bgallag5</a></h5>
        <h5>Email: <a href="mailto:bgallag5@gmail.com">bgallag5@gmail.com</a></h5>
      </div>
      <div class="container" id="ani">
        <h4>Ani Carr</h4>
        <h5>Back-End Lead</h5>
        <h5>GitHub: <a href="https://github.com/anidino">anidino</a></h5>
        <h5>Email: <a href="mailto:ani.elaina.carr@gmail.com">ani.elaina.carr@gmail.com</a></h5>
      </div>
      <div class="container" id="raevin">
        <h4>Raevin Dunson</h4>
        <h5>Front-End Lead</h5>
        <h5>GitHub: <a href="https://github.com/raevindunson">raevindunson</a></h5>
        <h5>Email: <a href="mailto:raevin.dunson98@gmail.com">raevin.dunson98@gmail.com</a></h5>
      </div>
      <div class="container" id="thandie">
        <h4>Thandie Kapakasa</h4>
        <h5>Front-End Development</h5>
        <h5>GitHub: <a href="https://github.com/thandiek">thandiek</a></h5>
        <h5>Email: <a href="mailto:tkapakasa@yahoo.com">tkapakasa@yahoo.com</a></h5>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/javascript/login.js" ></script>