

<link rel="stylesheet" href="/css/profile-page.css"/>



<section id="user-info"> 
<div>
    <h2 id="user">{{username}}</h2>
    <h2 id="user">{{email}}</h2>
</div>
</section>

<section id="user-settings">

    <div class="container">
        <label for="picker">Color Picker: </label>
        <input type="color" id="picker" value="#1a0241">
    </div>
      
</section>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/javascript/profile-page.js"></script>