body{
    background-image: none;
    /* background-color: rgba(21, 3, 49,1); */
    background: -webkit-linear-gradient(#1a0241 0%, #090109 100%);
}

/* #myFavs{
    display: inline-block;
} */

/* .movies {
  background-color: rgb(65,0, 170);
  padding: 5px;
  height: 48vh;
  width: 32.4vh;
  text-align: center;
  margin-top: 4vh;
  margin-left: 4vh; 
  color: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
} */

.movies {
    background-color: rgb(1, 0, 48);
    padding: 5px;
    height: 29.6%;
    width: 20%;
    text-align: center;
    margin-top: 4vh;
    margin-left: 4vh; 
    border-radius: 5px;
    cursor: pointer;
  }

.tiny-movies {
    background-color: rgb(1, 0, 48);
    height: 25%;
    width: 15%;
    text-align: center; 
    border-radius: 5px;
    cursor: pointer;
  }

.movrow{
    display: flex;
    margin: auto;
    justify-content: left;
}

.movrow :hover{
border: 5px white solid;
/* background-color: rgb(30, 32, 46, .8); */
}

#dash-favs{
   padding: 2% 2%;
}

#dash-favs h4{
    color: whitesmoke;
}

#dash-reviews h4{
    color: whitesmoke;
}

#dash-reviews{
padding: 2% 2%;
padding-bottom: 20%;
justify-content: left;
/* display: flex; */
}

#dash-reviews .row{
    margin: 2% 2%;
}

#dash-reviews .btn{
    background-color:rgb(65, 0, 170);
    color: whitesmoke;
    width: 50%;
    margin: 0 auto;
}

#review-row{
    display: flex;
    justify-content: left;
    padding: 10px 5px;
}

.review-card{
    padding: 5px;
    height: 20%;
    margin-top: 2vh;
}

#post-text{
    height: 50%;
    width: 90%;
}

.card-body{
    text-align: center;
    align-items: center;
}