#logout{
    margin-left: 45rem;
}

/* #myFavs{
    display: inline-block;
} */

.movies {
  background-color: rgb(65,0, 170);
  padding: 5px;
  height: 48vh;
  width: 32.4vh;
  text-align: center;
  margin-top: 4vh;
  margin-left: 4vh; 
  color: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
}

.movrow{
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.movrow :hover{
border: 5px white solid;
/* background-color: rgb(30, 32, 46, .8); */
}

#dash-favs h4{
    color: whitesmoke;
}

#dash-reviews h4{
    color: whitesmoke;
}

#dash-reviews .row{
    margin: 2rem 10rem;
}

#dash-reviews .btn{
    background-color:rgb(65, 0, 170);
    color: whitesmoke;
}

#dash-watchlist .row{
    margin: 2rem 10rem;
}