
#logout{
    margin-left: 45rem;
}

/* #myFavs{
    display: inline-block;
} */

#dash-reviews .row{
    margin: 2rem 10rem;
}

#dash-reviews .btn{
    background-color:rgb(65, 0, 170);
    color: whitesmoke;
}

#dash-watchlist .row{
    margin: 2rem 10rem;
}