* {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/images/cityscape.jpg");
  /* display: inline-block; */
}

#movieBox {
  font-family: "Architects Daughter", cursive;
  font-size: 60px;
  color: whitesmoke;
}

#home a {
  color: whitesmoke;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

#home a:hover {
  color: rgb(65, 0, 170);
}

#dashboard a {
  color: whitesmoke;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
  margin-left: 45rem;
}

#dashboard a:hover {
  color: rgb(65, 0, 170);
}

#logout a {
  color: whitesmoke;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

#logout a:hover {
  color: rgb(65, 0, 170);
}

.nav-item {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 150%;
}

/* SEARCH/FILTER */

#search-filter{
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
}

.input-group{
  width: 50%;
}


.buttons{
  background-color: rgb(65, 0, 170);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(65, 0, 170);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* MOVIES */
#movies-section {
    margin-top: 8%;
}

.movies {
  background-color: rgb(1, 0, 48);
  padding: 5px;
  height: 45vh;

  text-align: center;
  margin-top: 4vh;
  margin-left: 4vh; 
  color: yellow;
  border-radius: 5px;
  cursor: pointer;
}



.movrow{
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.movrow :hover{
border: 5px white solid;
/* background-color: rgb(30, 32, 46, .8); */
}

footer {
background-color: rgb(30, 32, 46);
height: 20rem;
margin-top: 5vh;
}

#contact-us h3, h4{
    color: whitesmoke;
    padding: 2vh;
}

#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 2vh; /* Place the button at the bottom of the page */
    right: 2vh; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    /* background-color: red;  */
    color: rgb(114, 114, 114); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 16px; /* Increase font size */
  }
  
  #topBtn:hover {
    background-color: rgb(65, 0, 170); /* Add a dark-grey background on hover */
    color: whitesmoke;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);

  }