h1 {
    color: whitesmoke;
    text-align: center;
}

#login-form {
    color: whitesmoke;
    background-color: purple;
    text-align: center;
    font-size: large;
    margin: 0 25%;
    padding: 2%
}

#login-form button {
    background-color: purple;
    color: whitesmoke;
}