


#movie-section{
    padding-top: 8vh;
    display: flex;  
    margin: 0 auto; 
    width: 95%;
    /* justify-content: space-around; */
}

#movie-container{
  display:inline-block;
  display: flex;
  justify-content: center;
}

#movie-poster{
    height: 80%;
    /* width: 45%; */
    margin-left: 5rem;
    border-radius: 2px;
  }


#movie-info{
height: 80%;
width: 45%;
}

.feedback{
justify-content: center;
margin: auto auto;
}

#buttonId{
/* margin-left: 20%; */
height: 20%;
color:rgb(65, 0, 170);

/* top:inherit; */
}

#add-review{
  padding: 2rem;
}

#user-reviews{
  background-color: rgb(65, 0, 170, .5);
  width: 85%;
  margin: 0 auto;
  margin-top: 3rem;
  justify-content: center;
  display: flex;
  color: whitesmoke;
  margin-bottom: 25%;
  
}

#review-text{
  width: 20rem;
  height: 10rem;
}

#past-reviews{
  padding: 3%;
}

.single-review{
  border: 2px solid white;
  margin-top: .5%;
  padding: 2%;
  background-color: rgb(245, 245, 245, .8);
  color: black;
}

.review-title{
  text-decoration: underline;
  font-size: larger;
  font-weight: bold;
  /* text-decoration:wavy;  */
}