#dashboard a{
    color: whitesmoke;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

#dashboard a:hover {
    color: rgb(65, 0, 170);
  }

#dashboard{
margin-left: 45rem;
}

#movie-poster{
    height: 80vh;
    width: 54vh;
    margin-left: 5rem;
}

#movie-section{
    margin-top: 8vh;
    display: flex;
}

#movie-info{
width: 60%;
}